{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <table>
            <tr>
                <th>TimeStamp</th>
                <th>Co</th>
                <th>No</th>
                <th>So</th>
            </tr>
            <tr>
                <td>{{ TimeStamp }}</td>
                <td>{{ Co }}</td>
                <td>{{ No }}</td>
                <td>{{ So }}</td>
            </tr>
        </table>
    </div>
{% endblock %}

